body {
    background-image: linear-gradient(to right, rgb(22, 83, 141) , rgb(0, 132, 255));
    margin: 0;
    font-family: 'Acme', sans-serif;
font-family: 'Poppins', sans-serif;
}
.sidebar {
    background-color: rgb(39, 29, 29);
    padding: 1px;
    box-shadow: 0 0 1em rgb(34, 34, 34);
}
.sidebarbutton {
    background-color: #4caf4f00;
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

.w3-sidebar{height:100%;width:200px;background-color:rgb(244,192,144)
;position:fixed!important;z-index:1;overflow:auto; margin: 0;}

.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-border-right{border-right:1px solid #ccc!important}

.sidebarlink {
    text-decoration: none;
    text-align:center;
    width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0;
    color: rgb(173, 16, 16);
}
.sidebarlink:hover {
    text-decoration: none;
    text-align:center;
    width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0;
    color: rgb(173, 16, 16);
    background-color: rgba(245, 245, 245, 0.267);
}

.sidebarclose {
    text-decoration: none;
    width: 20%;
    background-color: rgba(245, 245, 245, 0);
    border: none;
    color: rgb(247, 247, 247);
    font-size: 30px;
    text-align: center;float: right;
    background-color: red;
    border-radius: 5px;
}

.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

.header {
    width: auto;
}

.back {
    background-color: rgb(39, 29, 29);
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 1em rgb(34, 34, 34);
}
.planfree {
    background-color: rgb(244,192,144);
    max-width: 20%;
    margin-left: 10px;
    border-radius: 10px;
    padding: 3%;
    box-shadow: 0 0 1em rgb(34, 34, 34);
}

.teste {
    display: inline-flex;
    margin-left: 5%;
}

.planopago {
    background-color: rgba(247, 247, 247, 0.158);
    width: 60%;
    margin-left: 20%;
    padding: 20px;
}
.planopago:hover {
    background-color: rgba(247, 247, 247, 0.158);
    border: 1px solid blue;
    width: 60%;
    margin-left: 20%;
    padding: 20px;
}

.botaocompra {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 20%;
    margin-top: 10%;
}

.footer {
    color: whitesmoke;
    background-color: rgb(39, 29, 29);
    padding: 10px;
    margin-top: 40px;
    text-align: center;
    box-shadow: 0 0 1em rgb(34, 34, 34);
}


